@model tt_apps_srs.Controllers.Store_AddEditModel
<div class="row">
    <div class="col-12" asp-validation-summary="All">
       
    </div>
</div>
<form method="post">
    <div style="display:none">
        <input type="hidden" asp-for="Id"/>
    </div>
    <partial name="_AddEdit" model="Model"/>
</form>



