@model tt_apps_srs.Controllers.Order_UPCSearchResults
<div class="row">
    <div class="col-12">
        <strong class="text-success"><label>Product Found</label></strong><br/>
        @Model.Product_Name<br />
        Cost: @String.Format("{0:c}", Model.Cost) <br/>
        <button class="btn btn-success" type="button">
            <i class="fas fa-cart-plus"></i>
            <span class="d-none d-md-inline"> Add to order</span>
        </button>
    </div>
</div>
