@using System.Globalization
@using tt_apps_srs.Models
@model Order_AddEditModel

<div class="row">
    <form asp-action="Create" method="POST">
        <input type="hidden" asp-for="ClientStoreId"/>
        <div class="col-12">
            <div class="row">
                <div class="col-12"><label>Store</label> </div>
                <div class="col-12">
                    @Model.Store_Name<br/>
                    <address>
                        @Model.Store_Address
                    </address>                
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts
{
    <script type="text/javascript" src="~/js/quagga.min.js"></script>
    <script type="text/javascript">

    </script>
}