@page
@model CreateModel
@{
    ViewData["Title"] = "Add Tenant";
}

<form method="post" id="frm_CreateTenant">
    <div asp-validation-summary="All"></div>
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
            <button class="btn btn-success" id="form_submit">Add Tenant</button>
            <a asp-page="./Index" type="button" class="btn btn-default">Cancel</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"><label asp-for="Tenant.Name">Name</label></div>
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12"><input asp-for="Tenant.Name" /></div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"><label asp-for="Tenant.UrlCode">Url Part</label></div>
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12"><input asp-for="Tenant.UrlCode" /></div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div id="editor_holder"></div>
            <input type="hidden" asp-for='Tenant.Properties'/>
        </div>
    </div>
</form>
@section Scripts
{
    <script src="~/js/jsoneditor.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        var element = document.getElementById("editor_holder");
        var editor = new JSONEditor(element, {
            theme: "bootstrap3",
            disable_edit_json: true,
            disable_collapse: true,
            schema: {
                "title": "Properties",
                "type": "object",
                "properties":{
                    "is_root":{
                        "type": "boolean",
                        "title": "Root Tenant",
                        "default": false,
                        "format": "checkbox",
                    }
                }
            }
        });
        document.getElementById("form_submit").addEventListener("click", function(){
            document.getElementById("Tenant_Properties").value = JSON.stringify(editor.getValue());
        });
    </script>
}