@page
@model IndexModel
@{
    ViewData["Title"] = "Tenants";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <table class="table table-striped">
            <thead>
                <th>Id</th>
                <th>Name</th>
                <th>Url Code</th>
                <th>Active</th>
            </thead>
            <tbody>
                @foreach (var tenant in Model.Tenants)
                {
                <tr>
                    <td>@tenant.Id</td>
                    <td>@tenant.Name</td>
                    <td>@tenant.UrlCode</td>
                    <td>@tenant.Active</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a asp-page="./Create" class="btn btn-success">Add New Tenant</a>
    </div>
</div>

